{include file="public/header.html" /}
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">添加分类</h4>
                  <p class="card-category">Just so so...</p>
                </div>
              </br>
                <div class="card-body">
                  <form action="{:url('index/upadds')}" method="post">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">分类名称</label>
                          <input type="text" name="sortname" class="form-control">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">分类图标</label>
                          <input type="text" name="sorticon" class="form-control">
                        </div>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">确认</button>
                    <div class="clearfix"></div>
                  </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{include file="public/footer.html" /}
