{include file="header" title="$title" /}
<div class="mdui-container">
    <div class="mdui-col-xs-12">
        <div class="mdui-card">
            <div class="mdui-row">
                <div class="mdui-col-md-1">
                    <div class="mdui-textfield" style="overflow: inherit;">
                        <select class="mdui-select" id="reType" mdui-select="{position: 'bottom'}">
                                <option value="0">Referer</option>
                                <option value="1">IP</option>
                              </select>
                    </div>
                </div>
                <div class="mdui-col-md-11">
                    <div class="mdui-textfield">
                        <input type="text" id="reValue" class="mdui-textfield-input" placeholder="填写限制目标" />
                        <div class="mdui-textfield-helper">保持在六个字内</div>
                    </div>
                </div>

                <button id="reGet" class="mdui-btn mdui-btn-block mdui-btn-raised">提交</button>
            </div>
        </div>
    </div>
    <div class="mdui-progress" style="display: none;">
        <div class="mdui-progress-indeterminate"></div>
    </div>
    <div class="mdui-row">
        <div class="mdui-col-xs-12">
            <div class="mdui-table-fluid list">
                <table class="mdui-table mdui-table-hoverable mdui-typo">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>限制目标</th>
                            <th>限制类型</th>
                            <th>最后修改时间</th>
                            <th>操作管理</th>
                        </tr>
                    </thead>
                    <tbody id='table'></tbody>
                </table>
            </div>
            <div class="mdui-btn-group mdui-float-right" id="page"></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('.mdui-container').hide();
    $('.loading').show();

    $('#reGet').click(function() {
        $(".loading").show();
        var reType = $('.mdui-select-selected').text();
        var reValue = $('#reValue').val();
        var reType = reType == 'Referer' ? 0 : 1;
        var reData = {
            value: reValue,
            type: reType
        };
        $.post("/admin/index/postBlack", reData, function(data) {
            if (data.code == 200) {
                mdui.snackbar({
                    message: data.msg,
                });
                setTimeout(function() {
                    window.location.reload();
                }, 1000);
            } else {
                mdui.snackbar({
                    message: data.msg,
                });
                $(".loading").hide();
            }
            return false;
        });
    });


    $.ajax({
        url: "{:url('index/getList')}" + "?page=" + getQueryVariable("page"),
        type: "get",
        dataType: "json",
        success: function(json) {
            if (json.code == 200) {
                var html = '';
                var pages = '';
                var butHtml = '<a class="mdui-btn mdui-btn-raised mdui-btn-dense moe-btn" ';
                for (var i = 0; i < json.data.data.length; i++) {
                    var reType = json.data.data[i].type == 0 ? 'Referer' : 'IP';
                    html += '<tr><td>' + parseInt(i + 1) + '</td><td>' + json.data.data[i].value + '</td><td>' + reType + '</td><td>' + getLocalTime(json.data.data[i].time) + '</td><td><a onclick="reEdit(' + json.data.data[i].id + ')">修改</a> <a onclick="reDelete(' + json.data.data[i].id + ')">删除</a></td></tr>';
                }
                for (var j = 0; j < json.data.last_page; j++) {
                    pages += butHtml + 'href="?page=' + (j + 1) + '">' + (j + 1) + '</a>';
                }
                if (getQueryVariable("page") == 1 || json.data.current_page == 1) {
                    pages = butHtml + 'disabled>«</a>' + pages;
                } else {
                    pages = butHtml + 'href="?page=' + (parseInt(json.data.current_page) - 1) + '">«</a>' + pages;
                }
                if (getQueryVariable("page") == json.data.last_page || json.data.last_page == 1) {
                    pages += butHtml + 'disabled>»</a>';
                } else {
                    pages += butHtml + 'href="?page=' + (parseInt(json.data.current_page) + 1) + '">»</a>';
                }
                setTimeout(function() {
                    $('#table').html(html);
                    $('#page').html(pages);
                    $(".loading").hide();
                    if (json.data.current_page == 1) {
                        $("#page a").eq(1).addClass("mdui-btn-active");
                    } else if (json.data.current_page == getQueryVariable("page")) {
                        $("#page a").eq(getQueryVariable("page")).addClass("mdui-btn-active");
                    }
                    $(".mdui-container").show();
                }, 500);
            } else {
                mdui.snackbar({
                    message: json.msg,
                });
                $('.mdui-container').show();
                $(".loading").hide();
            }
        }
    });
</script>
{include file="footer" /}