{include file="public/header.html" /}
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">修改分类</h4>
                  <p class="card-category">Just so so...</p>
                </div>
              </br>
                <div class="card-body">
                  {volist name="sort" id='sort'}
                    <form action="{:url('index/upedits')}" method="post">
                      <div class="row">
                        <input  style="display:none" type="text" value="{$sort.id}" name="id" class="form-control">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="bmd-label-floating">分类名称</label>
                            <input type="text" value="{$sort.name}" name="sortname" class="form-control">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="bmd-label-floating">分类图标</label>
                            <input type="text" value="{$sort.icon}" name="sorticon" class="form-control">
                          </div>
                        </div>
                      </div>
                      <button type="submit" class="btn btn-primary pull-right">确认<div class="ripple-container"></div></button>
                      <div class="clearfix"></div>
                    </form>
                  {/volist}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{include file="public/footer.html" /}
