{include file="header" title="$title" /}
<div class="mdui-container">
    <div class="mdui-progress" style="display: none;">
        <div class="mdui-progress-indeterminate"></div>
    </div>
    <style>
        .icon .mdui-icon {
            font-size: 60px;
            line-height: 100px;
            float: left;
            margin-left: 10px;
        }
    </style>
    <div class="mdui-row">
        <div class="mdui-col-md-6">
            <div class="mdui-col-md-6 mdui-col-sm-6">
                <div class="mdui-card">
                    <div class="content">
                        <h3>调用总数</h3>
                        <p id="count"></p>
                    </div>
                </div>
            </div>
            <div class="mdui-col-md-6 mdui-col-sm-6">
                <div class="mdui-card">
                    <div class="content">
                        <h3>接口总数</h3>
                        <p id="info"></p>
                    </div>
                </div>
            </div>
            <div class="mdui-col-md-6 mdui-col-sm-6">
                <div class="mdui-card">
                    <div class="content">
                        <h3>分类总数</h3>
                        <p id="sort"></p>
                    </div>
                </div>
            </div>
            <div class="mdui-col-md-6 mdui-col-sm-6">
                <div class="mdui-card">
                    <div class="content">
                        <h3>文章总数</h3>
                        <p id="post"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mdui-col-md-6  mdui-col-sm-12">
            <div class="mdui-card">
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>
    <div class="mdui-table-fluid" style="position: relative; display: none;">
        <span style="position: absolute;top: 10px;right: 10px;z-index: 99;">
            <a href="javascript:;" class="mdui-btn mdui-btn-icon" id="getNewData" mdui-tooltip="{content: '刷新数据'}">
                <i class="mdui-icon material-icons">loop</i>
            </a>
        </span>
        <table class="mdui-table mdui-table-hoverable">
            <thead>
                <tr>
                    <th>#</th>
                    <th>请求 IP</th>
                    <th>请求方式</th>
                    <th>请求路径</th>
                    <th>状态码</th>
                    <th>请求时间</th>
                </tr>
            </thead>
            <tbody id="New10">
            </tbody>
        </table>
    </div>
</div>
<script>
    $('.mdui-container').hide();
    $('.loading').show();
    $.ajax({
        url: '{:url("admin/index/getCount")}',
        type: 'post',
        dataType: 'json',
        success: function(data) {
            var data = data.data;
            var ctx = document.getElementById("myChart");
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: [],
                    datasets: [{
                        label: 'API Top 10',
                        data: [],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)',
                            'rgba(123, 128, 234, 0.2)',
                            'rgba(57, 154, 457, 0.2)',
                            'rgba(41, 132, 254, 0.2)',
                            'rgba(77, 234, 238, 0.2)',
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)',
                            'rgba(123, 128, 234, 1)',
                            'rgba(57, 154, 457, 1)',
                            'rgba(41, 132, 254, 1)',
                            'rgba(77, 234, 238, 1)',
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
            for (var i = 0; i < data.top10.length; i++) {
                myChart.data.labels.push(data.top10[i].name);
                myChart.data.datasets[0].data.push(data.top10[i].count);
            }
            $('#count').html(data.count);
            $('#info').html(data.info);
            $('#sort').html(data.sort);
            $('#post').html(data.post);
        }
    });
    $.ajax({
        url: "{:url('admin/index/getNew10')}",
        type: 'get',
        dataType: 'json',
        success: function(data) {
            if (data.code == 200) {
                $('.mdui-table-fluid').show();
                for (var i = 0; i < data.data.length; i++) {
                    $('#New10').append('<tr><td>' + parseInt(i + 1) + '</td><td>' + data.data[i][0] + '</td><td>' + data.data[i][3] + '</td><td>' + data.data[i][4] + '</td><td>' + data.data[i].slice(-2, -1) + '</td><td>' + data.data[i][1] + '</td></tr>');
                }
            } else {
                mdui.snackbar({
                    message: '最新请求数据获取失败，请检查日志文件是否可以被访问！',
                    position: 'top'
                });
            }
        }
    });

    $("#getNewData").click(function() {
        $.ajax({
            url: "{:url('admin/index/getNew10')}",
            type: 'get',
            dataType: 'json',
            success: function(data) {
                $('#New10').html('');
                for (var i = 0; i < data.data.length; i++) {
                    $('#New10').append('<tr><td>' + parseInt(i + 1) + '</td><td>' + data.data[i][0] + '</td><td>' + data.data[i][3] + '</td><td>' + data.data[i][4] + '</td><td>' + data.data[i].slice(-2, -1) + '</td><td>' + data.data[i][1] + '</td></tr>');
                }
            }
        });
    });
    setTimeout(() => {
        $('.mdui-container').show();
        $('.loading').hide();
    }, 1000);
</script>
{include file="footer" /}