{include file="public/header.html" /}
<div class="content">
  <div class="container-fluid">
    <div class="row">

      <div class="col-lg-8 col-md-12">
        <div class="card">
          <div class="card-header card-header-warning">
            <h4 class="card-title">站点设置</h4>
            <p class="card-category">Just so so...</p>
          </div>
          <div class="card-body">
            <form action="{:url('index/upsite')}" method="post">
              {volist name="api" id='api'}
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>站点名称</label>
                    <input type="text" value="{$api.title}" name="title" class="form-control">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>站点链接</label>
                    <input type="text" value="{$api.url}" name="url" class="form-control">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label>站点关键词</label>
                    <input type="text" value="{$api.keywords}" name="keyword" class="form-control">
                  </div>
                </div>
              </div>
            </br>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>站点描述</label>
                    <input type="text" value="{$api.description}" name="description" class="form-control">
                  </div>
                </div>
              </div>
            </br>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>百度统计ID</label>
                    <input type="text" value="{$api.baidutongji}" name="baidutongji" class="form-control">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>其他代码</label>
                    <textarea class="form-control" name="miaoshu" rows="2"></textarea>
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-primary pull-right">确认修改</button>
              <div class="clearfix"></div>
              {/volist}
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="card">
          <div class="card-header card-header-info">
            <h4 class="card-title">系统信息</h4>
            <p class="card-category">Just so so...</p>
          </div>
          <div class="card-body">
            <div class="tim-typo">
                <span class="tim-note">站点域名</span><p class="text-center"><p class="text-center"><?php echo $_SERVER['SERVER_NAME']?></p>
            </div>
            <div class="tim-typo">
                <span class="tim-note">操作系统</span><p class="text-center"><?php echo php_uname('s');?></p>
            </div>
            <div class="tim-typo">
                <span class="tim-note">PHP版本</span><p class="text-center"><?php echo PHP_VERSION ?></p>
            </div>
            <div class="tim-typo">
                <span class="tim-note">PHP运行方式</span><p class="text-center"><?php echo php_sapi_name();?></p>
            </div>
            <div class="tim-typo">
                <span class="tim-note">Thinkphp版本</span><p class="text-center"><?php echo THINK_VERSION ?></p>
            </div>
            <div class="tim-typo">
              <span class="tim-note">API-Admin版本</span><p class="text-center">1.2.0</p>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{include file="public/footer.html" /}