{include file="public/header.html" /}
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">分类列表</h4>
                  <p class="card-category">Just so so...</p>
                </div>
                <div class="card-body">
                  <div class="table-responsive text-center">
                    <table class="table">
                      <thead class="text-primary">
                        <tr>
                          <th>分类名称</th>
                          <th>分类图标</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        {volist name="sort" id='sort'}
                        <tr>
                          <td>{$sort.name}</td>
                          <td>{$sort.icon}</td>
                          <td class="td-actions">
                              <button type="button" onclick="window.location.href='{:url('index/edits')}?id={$sort.id}'"  class="btn btn-primary btn-link btn-sm">
                                <i class="material-icons">edit</i>
                              </button>
                              <button type="button" onclick="window.location.href='{:url('index/sortdel')}?id={$sort.id}'" class="btn btn-danger btn-link btn-sm">
                                  <i class="material-icons">close</i>
                              </button>
                          </td>
                        </tr>
                        {/volist}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        <style>
        ul.pagination {display: inline-block;padding: 0;margin: 0;}
        ul.pagination{text-align:center;margin-top:20px;margin-bottom: 20px;}  
        ul.pagination li{margin:0px 2px; width: 24px; border:1px solid #e6e6e6;padding: 3px 5px;display: inline-block;}  
        ul.pagination .active{background-color: #9c27b0;color: #fff;}  
        ul.pagination .disabled{color:#aaa;} 
        </style>
{include file="public/footer.html" /}
