<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" id="viewport" content="width=device-width, initial-scale=1">
    <title>{$site.title}</title>
    <meta name="description" content="{$site.desc}">
    <meta name="keywords" content="{$site.keywords}">
    <link rel="stylesheet" type="text/css" href="public/static/index/css/flaghome.css">
    <script src="/public/static/jquery.min.js"></script>
</head>
<body>
    <div class="background">
        <canvas id="startrack"></canvas>
        <div class="cover">
        </div>
    </div>
    <div class="main">
        <div class="ch intro">
            <div class="container">
                <div class="hello">
                    <h1 id="slogan">思考中……</h1>
                    <h2>
                        <div class="circle">
                            <span></span><span></span><span></span>
                        </div>
                        {$site.title}免费提供API服务
                    </h2>
                </div>
            </div>
        </div>
    </div>
    {notempty name="post"}
    <div class="ch about">
        <div class="container">
          <h2 class="chtitle"><span>文章列表</span></h2>
          <ul class="skill clear">
            {volist name="post" id="vo"}
                <li class="post">
                    <p><a href="/post/{$vo.id}">{$vo.title|msubstr=###,0,20}</a></p>
                    <span>{$vo.time|date="Y-m-d"}</span>
                </li>
                {/volist}
          </ul>
        {if condition="count($post) > 11"}
        <span class="more"><a href="/list">查看更多</a></span>
        {/if}
        </div>
      </div>      
      {/notempty}
    <div class="find ch">
        <div class="container links">
            <h2 class="chtitle"><span>API列表</span></h2>
            <div class="clear">
                {volist name="api" id='api'}
                <a href="/doc/{$api.doc}" target="_blank">
                    <div class="item">
                        <div class="bg" style="background-color: #28A9E0"></div>
                        <div class="inner">
                            <span>{$api.name}</span>
                        </div>
                    </div>
                </a>
                {/volist}
            </div>
        </div>
    </div>
    <div class="footer ch">
        <div class="container">
            <p>
                <script type="text/javascript" src="https://tenapi.cn/yiyan/get/"></script>
            </p>
            <p class="c">Make by <a href="http://flag.Moe" rel="nofollow" target="_blank">flag.Moe</a> | Second revision by
                <a href="https://github.com/5ime/api-admin" rel="nofollow" target="_blank">API-Admin</a></p>
        </div>
    </div>
    </div>
    <script src="public/static/index/js/page.js"></script>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?{$site.baidu}";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    {$site.css}
    {$site.js}
</body>

</html>