
	*{
		padding: 0;
		margin: 0;
	    transition-timing-function: cubic-bezier(.19,1,.22,1);
	}
	body,html{
		height: 100%;
		width: 100%;
		font-family: "Microsoft YaHei";
		-webkit-font-smoothing: antialiased;
		color: #fff;
		line-height: 1.5em;
		min-width: 1150px;
	}
	div.background{
		position: fixed;
		width: 100%;
		height: 100%;
		transition: .3s all;
		background-color: #252525;
		/*background: #73C8A9;
		background: -webkit-linear-gradient(to top, #A7BFE8, #6190E8); 
		background: linear-gradient(to top, #A7BFE8, #6190E8);
		background: url(img/h.pg) center center no-repeat;
		background-size: cover;
		*/
	}

	div.background:after{
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: -webkit-linear-gradient(to bottom, rgba(0,0,0,0), rgba(255,255,255,.3)); 
		background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(255,255,255,.3));
	}


	.intro{
		position: relative;
	}

	.clear:after{
	    content:"";
	    display:block;
	    height:0;
	    visibility:hidden;
	    clear:both;
	}

	div.el{
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		text-align: center;
		transform: translateX(-50%) translateY(-50%);
	}

	div.el span{
		position: relative;
		top: 0;
		left: 8%;
		display: inline-block;
		width: 28%;
		margin-left: -18%;
		height: 0;
		background-color: rgba(255,255,255,.16);
		animation: bg 20s linear infinite;
		-webkit-animation: bg 20s linear infinite;
		-ms-animation: bg 20s linear infinite;
		-moz-animation: bg 20s linear infinite;
	}
	div.el span:nth-child(1){
		animation-delay: .0s;
		-webkit-animation-delay: .0s;
		-ms-animation-delay: .0s;
		-moz-animation-delay: .0s;
		opacity: 1;
	}
	div.el span:nth-child(2){
		animation-delay: .22s;
		-webkit-animation-delay: .22s;
		-ms-animation-delay: .22s;
		-moz-animation-delay: .22s;
		opacity: .75;
	}
	div.el span:nth-child(3){
		animation-delay: .44s;
		-webkit-animation-delay: .44s;
		-ms-animation-delay: .44s;
		-moz-animation-delay: .44s;
		opacity: .5;
	}
	div.el span:nth-child(4){
		animation-delay: .66s;
		-webkit-animation-delay: .66s;
		-ms-animation-delay: .66s;
		-moz-animation-delay: .66s;
		opacity: .25;
	}

	@keyframes bg
	{
	0% {
			transform:rotate(0deg);
			border-radius: 0;
		}
	50% {
		transform:rotate(180deg);
		border-radius: 0;
	}
	100% {
			transform:rotate(360deg);
			border-radius: 0;
		}
	}

	@-webkit-keyframes bg
	{
	0% {
			transform:rotate(0deg);
			border-radius: 0;
		}
	50% {
		transform:rotate(180deg);
		border-radius: 0;
	}
	100% {
			transform:rotate(360deg);
			border-radius: 0;
		}
	}

	@-ms-keyframes bg
	{
	0% {
			transform:rotate(0deg);
			border-radius: 0;
		}
	50% {
		transform:rotate(180deg);
		border-radius: 0;
	}
	100% {
			transform:rotate(360deg);
			border-radius: 0;
		}
	}

	@-moz-keyframes bg
	{
	0% {
			transform:rotate(0deg);
			border-radius: 0;
		}
	50% {
		transform:rotate(180deg);
		border-radius: 0;
	}
	100% {
			transform:rotate(360deg);
			border-radius: 0;
		}
	}
	nav{
		position: fixed;
		left: 20px;
		top: 0;
		z-index: 2333;
		transform:rotate(90deg) translate3d(0,0,0);
		transform-origin: 0% 100%;
		opacity: .7;
		transition: .3s all ease-out;
		font-family: 'Roboto', 'Tahoma',"Consolas","Microsoft YaHei";
	}
	nav:hover{
		opacity: 1;
	}
	nav a{
		display: inline-block;
		font-size: 15px;
		color: #fff;
		text-decoration: none;
		margin: 0 10px;
		opacity: .4;
		transition: .3s all;
	}

	nav a.time{
		opacity: 1;
	}

	nav a:hover,
	nav a.active{
		text-decoration: underline;
		opacity: 1;
	}

	.main{
		position: relative;
		z-index: 1000;
		width: 100%;
		height: 100%;
	}

	.ch{
		width: 100%;
		padding: 50px 0;
		animation: fadedown 1s cubic-bezier(.19,1,.22,1);
		-webkit-animation: fadedown 1s cubic-bezier(.19,1,.22,1);
		-ms-animation: fadedown 1s cubic-bezier(.19,1,.22,1);
		-moz-animation: fadedown 1s cubic-bezier(.19,1,.22,1);
	}

	.ch h2.chtitle{
		padding-bottom: 30px;
		font-size: 26px;
		letter-spacing: .2em;
		color: rgba(255,255,255,.3);
	}

	.ch h2.chtitle span{
		color: #fff;
	}

	.ch h2.chtitle:after{
		content: '';
		display: block;
		width: 10%;
		height: 2px;
		background-color: rgba(255,255,255,.3);
		margin-top: 30px;
	}

	@keyframes fadedown
	{
	0% {
			opacity: 0;
			transform: translateY(-50px);
		}
	100% {
		opacity: 1;
		transform: translateY(0);
		}
	}
	@-webkit-keyframes fadedown
	{
	0% {
			opacity: 0;
			transform: translateY(-50px);
		}
	100% {
		opacity: 1;
		transform: translateY(0);
		}
	}
	@-ms-keyframes fadedown
	{
	0% {
			opacity: 0;
			transform: translateY(-50px);
		}
	100% {
		opacity: 1;
		transform: translateY(0);
		}
	}
	@-moz-keyframes fadedown
	{
	0% {
			opacity: 0;
			transform: translateY(-50px);
		}
	100% {
		opacity: 1;
		transform: translateY(0);
		}
	}

	.container{
		position: relative;
		width: 1000px;
		margin: 0 auto;
		height: 100%;
		padding: 20px 0;
	}

	.intro{
		color: #fff;
		height: 100%;
		padding: 0;
	}
	.intro .container{
		animation: fadedown 3.5s cubic-bezier(.19,1,.22,1);
		-webkit-animation: fadedown 3.5s cubic-bezier(.19,1,.22,1);
		-ms-animation: fadedown 3.5s cubic-bezier(.19,1,.22,1);
		-moz-animation: fadedown 3.5s cubic-bezier(.19,1,.22,1);
	}
	.hello{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-60%);
	}
	.hello h1,
	.hello h2{
		font-weight: normal;
		font-size: 18px;
		line-height: 1.5em;
		letter-spacing: .2em;
	}
	.hello h1{
		font-size: 35px;
		letter-spacing: .5em;
	}
	.hello h2{
		padding-top: .6em;
	}
	.hello .circle{
		float: left;
		margin-right: 10px;
		letter-spacing: 0;
	}
	.hello .circle span{
		display: inline-block;
		width: 13px;
		height: 13px;
		background-color: #fff;
		border-radius: 100%;
		margin-right: 5px;
	}

	.hello .circle span:nth-child(1){
		background-color: #FF493F;
	}
	.hello .circle span:nth-child(2){
		background-color: #F7C900;
	}
	.hello .circle span:nth-child(3){
		background-color: #00ff37;
	}

	.about .introduct{
		float: left;
		width: 50%;
		font-size: 14px;
		line-height: 2em;
	}
	.about .skill{
		float: right;
		width: 50%;
	}

	.about ul.skill li{
		list-style: none;
		padding: 6px 0;
	}

	.about ul.skill li p{
		display: inline-block;
		width: 25%;
		margin-right: 3%;
		text-align: right;
		font-size: 12px;
	}

	.about ul.skill li .progress{
		display: inline-block;
		width: 70%;
		height: 3px;
		background-color: rgba(255,255,255,.2);
		vertical-align: middle;
	}

	.about ul.skill li .progress div{
		background-color: #fff;
		height: 3px;
		position: relative;
	}

	ul.skill li .progress div{
		animation: progressin 7s;
		-webkit-animation: progressin 7s;
		-ms-animation: progressin 7s;
		-moz-animation: progressin 7s;
	}
	@keyframes progressin
	{
	from {width:0;}
	}

	@-webkit-keyframes progressin
	{
	from {width:0;}
	}
	@-ms-keyframes progressin
	{
	from {width:0;}
	}
	@-moz-keyframes progressin
	{
	from {width:0;}
	}

	.about ul.skill li .progress div:after{
		content: '';
		display: inline-block;
		position: absolute;
		right: -4px;
		top: -8px;
		width: 0;
	    height: 0;
	    border-left: 4px solid transparent;
	    border-right: 4px solid transparent;
	    border-top: 3px solid #fff;
	}


	.links a{
		color: #fff;
		text-decoration: none;
	}

	.find .links .item{
	    position: relative;
	    width: 22.6%;
	    height: 80px;
	    line-height: 80px;
	    margin: 10px 1.2%;
	    padding: 5px 0;
	    text-align: center;
	    float: left;
	    transition: .2s all;
	    opacity: .9;
	}

	.find .links .item:hover{
		opacity: 1;
		transform: translateY(-10px);
	}

	.find .links .item .inner{
		position: relative;
		z-index: 5;
	}

	.find .links .item .bg{
		position: absolute; 
		bottom: 0;
		left: 0;
		width: 100%;
		height: 5%;
		z-index: 0;
		transition: .15s all;
	}

	.find .links .item:hover .bg{
		height: 100%;
		width: 100%;
		border-radius: 5px;
		box-shadow: 0 3px 20px rgba(0,0,0,.28);
	}

	.find .links .item i{
		font-size: 20px;
	}

	.find .links .item span{
		display: inline-block;
		width: 100px;
	}

	.gate .links .item {
		margin: 5px 0;
		padding: 15px 1.5%;
		float: left;
		width: 22%;
		height: 60px;
		transition: .2s all;
		opacity: .85;
	}

	.gate .links .item.akarin{
		opacity: .58;
	}

	.gate .links .item:hover{
		opacity: 1;
		border-radius: 5px;
		background-color: rgba(255,255,255,.25);
		transform: translateY(-5px);
		box-shadow: 0 3px 20px rgba(0,0,0,.28);
	}

	.gate .links .item .avatar{
		float: left;
		height: 60px;
		line-height: 60px;
		width: 60px;
		border-radius: 100%;
		text-align: center;
		margin-right: 15px;
		background-color: #353535;
		overflow: hidden;
	}

	.gate .links .item .avatar i{
		font-size: 24px;
	}

	.gate .links .item .avatar img{
		height: 60px;
		max-width: 60px;
		border-radius: 100%;
	}

	.gate .links .item .inner{
		padding: 6px;
	}

	.gate .links .item .inner h5{
		font-weight: normal;
		font-size: 17px;
	}

	.gate .links .item .inner p{
		font-size: 13px;
		color: rgba(255,255,255,.6);
	}


.footer{
	text-align: center;
}

.footer a{
	color: inherit;
	text-decoration: none;
}

.footer a:hover{
	text-decoration: underline;
}

.footer h3{
	font-weight: normal;
	font-size: 20px;
	letter-spacing: .8em;
	margin: 6px 0;
}

.footer p{
	font-size: 12px;
	letter-spacing: 1em;
	opacity: .3;
}

.footer p.c{
	margin-top: 20px;
	letter-spacing: .1em;
}

@media screen and (min-width: 1400px) {
	body{
	}
	.container{
		width: 70%;
	}
	nav a{
		font-size: 18px;
	}

}


@media screen and (max-width: 700px) {

	body,html{
		min-width: 0;
	}
	.container{
		width: auto;
		margin: 0 5%;
	}

	div.el span{
	    display: block;
	    width: 60%;
	    left: 0;
	    top: 75px;
	    margin-left: 0;
	    margin: 0 auto;
	    margin-top: -40%;
	}

	nav{
		padding: 15px 5%;
		overflow: auto;
		font-size: 13px;
		left: 0;
		top: inherit;
		bottom: 0;
		transform:rotate(0deg) translate3d(0,0,0);
		transform-origin: 0% 100%;
		white-space:nowrap;
		width: 90%;
		background: -webkit-linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.8)); 
		background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.8));
	}

	.ch{
		padding: 40px 0;
	}

	.hello{
		width: 90%;
		padding: 5%;
		text-align: center;

	}
	.hello .circle {
	    float: none;
	    margin-right: 0;
	}

	.hello h2 {
	    padding-top: 0;
	}

	.hello h1, .hello h2 {
	    font-weight: normal;
	    font-size: 14px;
	}

	.hello .circle{
		padding: 20px;
	}

	.hello .circle span {
		margin-right: 0;
		margin: 0 5px;
	    width: 10px;
	    height: 10px;
	}

	.hello h1 {
	    font-size: 26px;
	}

	.about .introduct,
	.about .skill {
	    float: none;
	    width: auto;
	}

	.about .introduct{
		padding: 0 5%;
	}

	.about .skill{
		padding-top: 40px;
	}


	.about ul.skill li p {
		text-align: center;
	}
	.find .links .item,
	.gate .links .item{
		width: 46%;
		height: auto;
		padding: 5px 0;
		margin: 10px 2%;
	}

	.find .links .item{
		height: 60px;
		line-height: 60px;
		font-size: 13px;
	}

	.gate .links .item .avatar {
	    height: 40px;
	    line-height: 40px;
	    width: 40px;
	}
	.gate .links .item .avatar img {
	    height: 40px;
	    max-width: 40px;
	}
	.gate .links .item .inner {
	    padding: 0;
	}
	.gate .links .item .inner h5 {
	    font-size: 15px;
	}

	.gate .links .item .inner h5,
	.gate .links .item .inner p{
		white-space:nowrap; 
	    text-overflow:ellipsis;
	    overflow:hidden;
	}

	.footer{
		padding-bottom: 100px;
	}

	.footer h3{
    	letter-spacing: .2em;
	}

	.footer p{
		letter-spacing: .2em;
	}
}