<html lang="en" class="perfect-scrollbar-on"><head>
	<meta charset="utf-8">
	<link rel="apple-touch-icon" sizes="76x76" href="/public/static/admin/img/apple-icon.png">
	<link rel="icon" type="image/png" href="/public/static/admin/img/favicon.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>
	  API登录
	</title>
	<meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport">
	<!--     Fonts and icons     -->
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
	<!-- CSS Files -->
	<link href="/public/static/admin/css/material-dashboard.css?v=2.1.2" rel="stylesheet">
	<!-- CSS Just for demo purpose, don't include it in your project -->
	<link href="/public/static/admin/demo/demo.css" rel="stylesheet">
</head>

<body class="offline-doc">
  <!-- End Navbar -->
  <div class="page-header clear-filter">
    <div class="page-header-image" style="background-image: url('https://tenapi.cn/img/acg.php');"></div>
    <div class="content-center">
      <div class="col-md-8 ml-auto mr-auto">
        <div class="brand">
          <h1 class="title">
			{$info.title}
          </h1>
          <h3 class="description">后台登录</h3>
		  <br />
		  <form action="{:url('login/fromlogin')}" method="post">
			<div class="row">
				<div class="col-md-12">
				  <div class="form-group bmd-form-group">
					<label>Username</label>
					<input name="username" type="text" class="form-control">
				  </div>
				</div>
			  </div>
			  <br>
			  <div class="row">
				  <div class="col-md-12">
					<div class="form-group bmd-form-group">
					  <label>Password</label>
					  <input name="password" type="text" class="form-control">
					</div>
				  </div>
				</div>  
				<br />
				<button type="submit" class="btn btn-primary btn-round btn-lg">Login</a>
			  </form>
        </div>
      </div>
    </div>
  </div>
  
  <!--   Core JS Files   -->
  <script src="/public/static/admin/js/core/jquery.min.js"></script>
  <script src="/public/static/admin/js/core/popper.min.js"></script>
  <script src="/public/static/admin/js/core/bootstrap-material-design.min.js"></script>
  <script src="/public/static/admin/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!-- Plugin for the momentJs  -->
  <script src="/public/static/admin/js/plugins/moment.min.js"></script>
  <!--  Plugin for Sweet Alert -->
  <script src="/public/static/admin/js/plugins/sweetalert2.js"></script>
  <!-- Forms Validations Plugin -->
  <script src="/public/static/admin/js/plugins/jquery.validate.min.js"></script>
  <!-- Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
  <script src="/public/static/admin/js/plugins/jquery.bootstrap-wizard.js"></script>
  <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
  <script src="/public/static/admin/js/plugins/bootstrap-selectpicker.js"></script>
  <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
  <script src="/public/static/admin/js/plugins/bootstrap-datetimepicker.min.js"></script>
  <!--  DataTables.net Plugin, full documentation here: https://datatables.net/  -->
  <script src="/public/static/admin/js/plugins/jquery.dataTables.min.js"></script>
  <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
  <script src="/public/static/admin/js/plugins/bootstrap-tagsinput.js"></script>
  <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
  <script src="/public/static/admin/js/plugins/jasny-bootstrap.min.js"></script>
  <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
  <script src="/public/static/admin/js/plugins/fullcalendar.min.js"></script>
  <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
  <script src="/public/static/admin/js/plugins/jquery-jvectormap.js"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="/public/static/admin/js/plugins/nouislider.min.js"></script>
  <!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
  <!-- Library for adding dinamically elements -->
  <script src="/public/static/admin/js/plugins/arrive.min.js"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chartist JS -->
  <script src="/public/static/admin/js/plugins/chartist.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="/public/static/admin/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="/public/static/admin/js/material-dashboard.js?v=2.1.2" type="text/javascript"></script>
  <!-- Material Dashboard DEMO methods, don't include it in your project! -->
  <script src="/public/static/admin/demo/demo.js"></script>
 
</body>

</html>
